@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:host {
  display: flex;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.home .control {
  padding: 8px 4px;
}